body{
    background-color: whitesmoke;
}

.header{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 120px;
}

#girl{
    border-image:round;
    border-radius: 100px;
}

button{
    background-color:darkturquoise;
    width: 150;
    height: 40px;
    color: aliceblue;
    border: 20px;
    border-radius: 5px;
}

#discription{
    justify-content:first baseline;
    text-align: justify;
}